extends ./account-layout

block content
  // Outer Row 
  .row.justify-content-center
    .col-xl-10.col-lg-12.col-md-9
      .card.o-hidden.border-0.shadow-lg.my-5
        .card-body.p-0
          // Nested Row within Card Body 
          .row
            .col-lg-6.d-none.d-lg-block.bg-login-image
            .col-lg-6
              .p-5
                .text-center
                  h1.h4.text-gray-900.mb-4 Welcome Back!
                form(method='POST').user
                  input(type='hidden', name='_csrf', value=_csrf)
                  .form-group
                      input.form-control.form-control-user(type='email', name='email',  id='email', placeholder='Email', autofocus, autocomplete='email', required)
                  .form-group
                      input.form-control.form-control-user(type='password', name='password', id='password', placeholder='Password', autocomplete='current-password', required)
                  .form-group
                      button.btn.btn-primary.btn-user.btn-block(type='submit') Login
                  hr
                  include ../partials/flash
                  hr
                  a.btn.btn-facebook.btn-user.btn-block(href='/auth/facebook')
                    i.fab.fa-facebook.fa-fw
                    |    Login with Facebook
                  a.btn.btn-google.btn-user.btn-block(href='/auth/google')
                    i.fab.fa-google.fa-fw
                    |    Login with Google
                  a.btn.btn-google.btn-user.btn-block(href='/auth/twitter')
                    i.fab.fa-twitter.fa-fw
                    | Login with Twitter
                  a.btn.btn-google.btn-user.btn-block(href='/auth/github')
                    i.fab.fa-github.fa-fw
                    | Login with Github
                  a.btn.btn-google.btn-user.btn-block(href='/auth/linkedin')
                    i.fab.fa-linkedin.fa-fw
                    | Login with LinkedIn
                    
                    

                hr
                .text-center
                  a.small(href='/forgot') Forgot Password?
                .text-center
                  a.small(href='/signup') Create an Account!