extends ./account-layout

block content
  .container
    .card.o-hidden.border-0.shadow-lg.my-5
      .card-body.p-0
        // Nested Row within Card Body 
        .row
          .col-lg-5.d-none.d-lg-block.bg-register-image
          .col-lg-7
            .p-5
              .text-center
                h1.h4.text-gray-900.mb-4 Create an Account!
              form.user(method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  input.form-control.form-control-user(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
                .form-group.row
                  .col-sm-6.mb-3.mb-sm-0
                    input.form-control.form-control-user(type='password', name='password', id='password', placeholder='Password', autocomplete='new-password', required)
                  .col-sm-6
                    input.form-control.form-control-user(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', autocomplete='new-password', required)
                button.btn.btn-primary.btn-user.btn-block(type='submit') Register Account
              hr
              include ../partials/flash
              hr
              .text-center
                a.small(href='/forgot') Forgot Password?
              .text-center
                a.small(href='/login') Already have an account? Login!