// Sidebar 
ul.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion#accordionSidebar
  // Sidebar - Brand 
  a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
    .sidebar-brand-icon.rotate-n-15
      i.fas.fa-square-root-alt
    .sidebar-brand-text.mx-3
      | NODE
      sup MATH
  // Divider 
  hr.sidebar-divider.my-0
  // Nav Item - Home 
  li.nav-item(class=(title === 'Home') ? 'active' : undefined)
    a.nav-link(href='/')
      i.fas.fa-fw.fa-home
      span Home
  // Nav Item - Dashboard 
  li.nav-item(class=(title === 'Dashboard') ? 'active' : undefined)
    a.nav-link(href='/dashboard')
      i.fas.fa-fw.fa-tachometer-alt
      span Dashboard
  // Nav Item
  li.nav-item(class=(title === 'Find Solution') ? 'active' : undefined)
    a.nav-link(href='/api')
      i.fas.fa-fw.fa-calculator
      span Find Solution
  // Nav Item
  li.nav-item(class=(title === 'Solutions') ? 'active' : undefined)
    a.nav-link(href='/api/solutions')
      i.fas.fa-fw.fa-list-ul
      span All Solutions
  // Nav Item
  li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
    a.nav-link(href='/contact')
      i.fas.fa-fw.fa-table
      span Contact
    // Divider 
  hr.sidebar-divider
  // Nav Item
  li.nav-item(class=(title === 'Status') ? 'active' : undefined)
    a.nav-link.collapsed(href='/status')
      i.fas.fa-fw.fa-chart-area
      span Status
  // Divider 
  hr.sidebar-divider.d-none.d-md-block
  // Sidebar Toggler (Sidebar) 
  .text-center.d-none.d-md-inline
    button.rounded-circle.border-0#sidebarToggle
// End of Sidebar 