extends layout

block content
  .container-fluid
    // Page Heading 
    h1.h3.mb-4.text-gray-800.text-center Contact
    .container.py-3
      .row
        .mx-auto.col-sm-12
          // form user info 
          .card
            .card-header
              h4.mb-0 Contact Form
            .card-body
              form.form(method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                if (unknownUser)
                  .form-group.row
                    label.col-lg-3.col-form-label.form-control-label Name
                    .col-lg-9
                      input.form-control(type='text', name='name', id='name', autocomplete='name', autofocus=true)
                  .form-group.row
                    label.col-lg-3.col-form-label.form-control-label Email
                    .col-lg-9
                      input.form-control(type='text', name='email', id='email', autocomplete='email')
                  .form-group.row
                    label.col-lg-3.col-form-label.form-control-label Please describe the issue or your suggestion
                    .col-lg-9
                      textarea.form-control(name='message', id='message', rows='7', autofocus=(!unknownUser).toString())
                  button.btn.btn-primary.btn-user(type='submit') Send