extends layout

block content
  // Begin Page Content 
  .container-fluid
    // Page Heading 
    .d-sm-flex.align-items-center.justify-content-between.mb-4
      h1.h3.mb-0.text-gray-800 Home
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary Welcome to NODEMATH
      .card-body
        .text-center
          img.img-fluid.px-3.px-sm-4.mt-3.mb-4(style='width: 25rem;', src='img/undraw_exams_g4ow.svg', alt='')
        p Text about site
        a(target='_blank', rel='nofollow', href='https://undraw.co/') Browse Illustrations on unDraw →