extends ../layout

block content
  // Begin Page Content 
  .container-fluid
    // Page Heading 
    h1.h3.mb-2.text-gray-800 All Solutions
    p.mb-4 List of solved tasks
    // DataTales Example 
    .card.shadow.mb-4
      .card-header.py-3
        h6.m-0.font-weight-bold.text-primary Solved Tasks
      .card-body
        .table-responsive
          table.table.table-bordered#dataTable(width='100%', cellspacing='0')
            thead
              tr
                th Task
                th Category
                th Date
                th View Task
            tfoot
              tr
                th Task
                th Category
                th Date
                th View Task
            tbody
              each task in tasks
                tr
                  td= task.taskName
                  td= task.contentData[0].scanner
                  td= moment(task.date).format("MMMM Do YYYY, k:kk:ss")
                  td
                    a.btn.btn-info.btn-icon-split(href=`/api/solution/${task.id}`)
                      span.icon.text-white-50
                        i.fas.fa-info-circle
                      span.text View
